.app {
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background-color: #0080ff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

p {
  margin-top: 10px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.neutral {
  color: gray;
}

button {
  margin: 0 auto;
  display: block;
}
